body h1{
    margin: 10px;
}

#back-to-dashboard {
    color: white;
    margin: 0px;
    margin-top: 20px;
}

#names-title {
    margin: 20px 0px;
    text-align: center;
}

#percent-wrapper {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(164, 164, 164);
    width: 30%;
    padding: 10px;
    text-align: center;
}

#percent {
    margin: 0px;
    position: relative;
    top: 0px;
    font-size: 32px;

}

#button-timeframe {
    margin: 0px;
    z-index: 1000;
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.circle {
    width: 15px !important; /* Size of the circle */
    height: 15px !important; /* Size of the circle */
    border-radius: 50%; /* This makes it round */
    margin: 10px;
}

#user-circle {
    background-color: var(--primary-orange);
}

#friend-circle {
    background-color: var(--primary-pink);
}

#user-ids {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 400px;
}

#user-ids p {
    margin: 0px;
    padding: 0px;
}

.user-ids-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    width: 100%;
}

#lineGraph {
    margin-bottom: 10px;
    width: 60%;
    max-width: 1000px;
    height: 200px;
    padding: 20px 0px;
}

#center-block {
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    width: 400px;  /* Adjust the width as necessary */
}

#center-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

#select-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    top: 0px;
    margin: 0px;
    padding: 0px;
}

.select-button {
    width: 33.33333%;
    border-radius: 0;
    border-bottom: 1px solid white;
    height: 35px;
    background-color: rgba(0,0,0,0);
    color: white;
    box-shadow: inset 0px -10px 20px rgba(255, 255, 255, 0.15);
    transition: color .25s ease;
    margin: 0px;
}

.select-button-highlight {
    background-color: white;
    color: black;
    font-weight: bold; /* changed from 700px to bold */
}

.select-button-highlight:hover {
    color: black !important;
    box-shadow: none !important;
}

.select-button:hover {
    color: var(--primary-orange);
    box-shadow: inset 0px -10px 20px rgba(255, 255, 255, 0.25);
}

#button-artists {
    border-right: 1px solid white;
    border-top-left-radius: 8px;  /* This assumes 'artists' is now the first button */
}

#button-genres {
    border-right: 1px solid white;
}

#button-questions {
    border-top-right-radius: 8px;  /* 'questions' is now the last button */
}

#shared-artists-text, #shared-genres-text {
    padding: 20px;
}

.bullet {
    color: var(--primary-orange); /* Change to any color you like */
    padding: 0 5px; /* Adjust space around the bullet */
}

#shared-artists-text p:hover, #shared-genres-text p:hover {
    color: var(--primary-orange);
}

#questions-wrapper {
    width: 100%; /* Full width within the container */
    padding: 10px;
    box-sizing: border-box; /* Includes padding and border in the element's total width and height */
}

#question-text {
    margin-top: 10px;
    margin-bottom: 1rem;
}

#questions-buttons {
    display: flex;
    justify-content: space-between;
}

#questions-buttons button {
    width: 100px;
}

  
#tops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

#tops h3 {
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    background: linear-gradient(60deg, #FFF 10.65%, var(--primary-orange) 40.42%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#tops p {
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
}

#tops-explainer {
    text-align: center;
    margin-top: 10px;
}


#match {
    margin-top: 30px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 300px;
    border-radius: 20px;
}

#match-title {
    position:relative;
    top: 20px;
    width: 100px;
    text-align: center;
    font-weight: var(--font-weight-bold);
}

#match-text {
    position:relative;
    bottom: 20px;
    text-align: center;
    width: 300px;
}

#questions-wrapper {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
    height: 200px;
    padding: 10px;
}

#questions-header {
    margin: 0px;
    width: 100%;
    position: absolute;
    top: 50px;
}

#question-text {
    margin-bottom: 20px;
    width: 260px;
    margin-top: 60px;
    padding-bottom: 10px;
}

#questions-buttons {
    display: flex;
    flex-direction: row;
    width: 220px;
    justify-content: space-between;
    position: absolute;
    bottom: 20px;
}

#questions-buttons button {
    width: 100px !important;
    height: 40px;
}

#next-question:hover {
    background-color: var(--primary-orange);
}

.back-dull {
    background-color: grey;
}

.back-dull:hover {
    cursor: default;
    background-color: grey;
}

.back-normal:hover {
    background-color: var(--primary-orange);
}

@media (max-width: 500px) {
    #lineGraph {
        width: 108%;
        height: 180px;
        padding: 35px 0px;
        margin: 0px;
    }

    #center-block {
        width: 90%;
    }

    
    #view-more {
        margin-top: 50px;
    }

    #percent-wrapper {
        width: 80%;
        margin-top: 0px;
        padding-bottom: 10px;
    }

    #percent {
        margin: 0px;
    }

    #questions-wrapper {
        width: 90%;
    }

    #user-ids {
        width: 70%;
        margin-top: 10px;
    }
}