body h1{
    margin: 10px;
}

#back-to-dashboard {
    padding: 10px;
}

#names-title {
    margin: 0px;
    margin-top: 30px;
    text-align: center;
}

#percent-wrapper {
    margin-bottom: 30px;
}

#percent {
    margin: 0px;
    position: relative;
    top: 0px;
    font-size: 32px;

}

#button-timeframe {
    margin: 0px;
    z-index: 1000;
    display: flex;
    width: 280px;
    justify-content: space-between;
}

.circle {
    width: 15px; /* Size of the circle */
    height: 15px; /* Size of the circle */
    border-radius: 50%; /* This makes it round */
    margin: 10px;
}

#user-circle {
    background-color: var(--primary-orange);
}

#friend-circle {
    background-color: var(--primary-pink);
}

#user-ids {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#user-ids p {
    margin: 0px;
    padding: 0px;
}

.user-ids-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 15px;
    width: 100%;
}

#lineGraph {
    margin-bottom: 10px;
    width: 60%;
    max-width: 1000px;
    height: 200px;
    padding: 20px 0px;
}
  
#tops {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin-top: 20px;
}

#tops h3 {
    font-size: 20px;
    margin: 0px;
    margin-top: 10px;
    background: linear-gradient(60deg, #FFF 10.65%, var(--primary-orange) 40.42%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#tops p {
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
}


#match {
    margin-top: 30px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 300px;
    border-radius: 20px;
}

#match-title {
    position:relative;
    top: 20px;
    width: 100px;
    text-align: center;
    font-weight: var(--font-weight-bold);
}

#match-text {
    position:relative;
    bottom: 20px;
    text-align: center;
    width: 300px;
}

#questions-wrapper {
    margin-top: 20px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#questions-header {
    margin: 0px;
    width: 100%;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

#question-text {
    margin-bottom: 20px;
}

#questions-buttons {
    display: flex;
    flex-direction: row;
    width: 160px;
    justify-content: space-between;
}

#questions-buttons button {
    width: 70px;
}

#next-question:hover {
    background-color: var(--primary-orange);
}

.back-dull {
    background-color: grey;
}

.back-dull:hover {
    cursor: default;
    background-color: grey;
}

.back-normal:hover {
    background-color: var(--primary-orange);
}

@media (max-width: 500px) {
    #lineGraph {
        width: 95%;
        max-width: 1000px;
        top: 360px;
        height: 180px;
    }

    #tops {
        width: 300px;
    }
    
    #view-more {
        margin-top: 50px;
    }
}