body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

body h1{
    margin: 10px;
}

#button-timeframe {
    margin: 0px;
    z-index: 1000;
    display: flex;
    width: 280px;
    justify-content: space-between;
}

#username {
    overflow-y: hidden;
}

#wavelength-explainer-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    text-align: center;
}

#lineGraph {
    width: 90%;
    max-width: 700px;
    min-width:700px;
    height: 230px;
    padding: 25px 0px;
}

#wavelength-explainer-trigger {
    position: absolute;
    bottom: 0px;
    right: 80px;
    font-size: 12px;
    text-decoration: underline;
}

#wavelength-explainer-trigger:hover {
    cursor: pointer;
}

#wavelength-explainer-popup {
    position: absolute;
    max-width: 700px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.9);
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    z-index: 10000;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.9);
}

#wavelength-explainer-popup button {
    margin-top: 10px;
    width: 120px;
}


#wavelength-explainer-popup h2 {
    margin: 0px;
}

#wavelength-explainer-popup p {
    margin: 10px;
}

#center-block {
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    width: 400px;
}

#center-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}


#center-block-wrapper li {
    padding: 0px 10px;
}

#select-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 0px;
}

.select-button{
    width: 33.33333%;
    border-radius: 0;
    border-bottom: 1px solid white;
    height: 35px;
    background-color: rgba(0,0,0,0);
    color: white;
    box-shadow: inset 0px -10px 20px rgba(255, 255, 255, 0.15);
    transition: color .25s ease;
}

.select-button-highlight {
    background-color: white;
    color: black;
    font-weight: 700px;
}

.select-button-highlight:hover {
    color: black !important;
    box-shadow: none !important;
}

.select-button:hover {
    color: var(--primary-orange);
    box-shadow: inset 0px -10px 20px rgb(255, 255, 255, 0.25);
}

#button-anthem {
    border-right: 1px solid white;
    border-top-left-radius: 8px;
}

#button-genres {
    border-right: 1px solid white;
}

#button-artists {
    border-top-right-radius: 8px;
}

#top-artists-list, #top-genres-list {
    column-count: 2;
    column-gap: 20px;
    column-width: 120px;
}

#top-artists-list li:hover {
    color: var(--primary-orange);
}

#anthem-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
    padding: 20px;
}

#anthem-wrapper h3 {
    font-size: 20px;
    margin: 0px;
}

#anthem-wrapper p {
    margin: 0px;
    font-size: 14px;
    margin-bottom: 20px;
}

#anthem-song {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#anthem-song:hover {
    cursor: pointer;
}

#anthem-song-info h3, #anthem-song-info p {
    margin: 0px;
}

#anthem-cover {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.artist-name-highlight:hover {
    color: var(--primary-orange);
}

#tops-explainer {
    margin-top: 10px;
    text-align: center;
}

#code {
    border-top: 1px solid rgb(125, 125, 125);
    padding-top: 30px;
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    min-width: 400px;
}

#code-h2 {
    font-weight: var(--font-weight-bold);
    margin: 0px;
    text-align: center;
    font-size: 24px;
}

#share-code-h3 {
    margin: 0px;
    font-size: 18px;
    margin-bottom: 0px;
    margin-top: 10px;
}

#share-code-explainer {
    width: 40%;
    min-width: 400px;
    text-align: center;
}

#codeForm-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
    height: 60px;
    padding-top: 10px;
}

#codeForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 350px;
    width: 100%;
}

#codeForm button {
    width: 140px;
    height: 40px; 
    margin: 0px;
    margin-left: 10px;
}

#codeForm button:hover {
    background-color: var(--primary-orange);
}

#inputCode {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-family: var(--font-family-poppins);
    font-size: 16px;
    padding: 0px 10px;
    border: none;
    margin: 0px;
}

#error {
    width: 300px;
    margin: 0px;
    border-color: red;
    display: none;  /* Initially hidden */
    opacity: 1;     /* Start fully visible */
}

#error p {
    margin: 0px;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; } /* Stay fully visible for the majority of the time */
    100% { opacity: 0; } /* Fade to completely transparent */
}

.error-fade-out {
    animation: fadeOut 1s forwards; /* 'forwards' will keep the final state (opacity: 0) */
}
  

#view-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    border-top: 1px solid rgb(125, 125, 125);
    width: 40%;
    max-width: 600px;
    padding-top: 30px;
    min-width: 400px;
}

#view-more h2 {
    text-align: center;
    margin: 0px;
    font-size: 24px;
}

#img-holder {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

#img-holder img {
    width: 25px; 
}

#img-holder:hover {
    transform: translateY(10px);
    opacity: 0.7;
}

/* Styles for the user matches wrapper */
#user-matches-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-matches-wrapper h2 {
    font-size: 20px;
}

/* Styles for each matched user */
.matched-user {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.matched-user:hover {
    background-color: grey;
    cursor: pointer;
}

#matched-user-img-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.matched-user-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
    max-width: 260px;
}

.matched-user img {
    width: 50px !important; /* Adjust the image size as needed */
    height: 50px !important; /* Adjust to maintain aspect ratio */
    border-radius: 5px; /* Circular images */
    object-fit: cover; /* Ensures images cover the area nicely */
    margin-right: 10px;
}

.matched-user-name, .matched-user-percent {
    margin: 0px;
}

.matched-user-percent {
    color: var(--primary-orange);
    display: flex;
    align-items: flex-end;
}

.matched-user-percent h2{
    text-align: right;
}

.matched-user-info {
    text-align: center;
    margin: 0px;
}

#no-matches-text {
    margin: 0px;
    text-align: center;
    width: 400px;
    margin-bottom: 20px;
}

#no-matches-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 500px) {
    #wavelength-explainer-wrapper {
        width: 105%;
        align-items: center;
        justify-content: center;
    }

    #wavelength-explainer-trigger {
        position: absolute;
        left: 50%; /* Position the left of the element at the horizontal center */
        transform: translate(-50%); /* Translate the element back by half of its own width and height */
        width: 100%;
    }

    #wavelength-explainer-popup {
        width: 90%;
        background-color: rgba(0,0,0,.9);
    }
    #lineGraph {
        top: 170px;
        height: 180px;
        padding: 35px 0px;
        width: 95%;
        min-width: 300px;
    }

    #center-block {
        width: 90%;
    }
    #tops {
        width: 280px;
    }

    #anthem-wrapper {
        width: 280px;
    }

    #view-more {
        width: 90%;
        min-width: 200px;
    }

    #share-code-explainer {
        width: 90%;
        min-width: 200px;
    }

    #code {
        width: 95%;
        min-width: 200px;
    }

    #no-matches-text {
        width: 90%;
    }
}

@media (max-width: 667px) {
    #lineGraph {
        top: 170px;
        height: 170px;
        padding: 35px 0px;
        width: 98%;
        min-width: 300px;
    }

}