body {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1 !important;
}

body h1{
    margin: 10px;
}

#button-timeframe {
    margin: 0px;
    z-index: 1000;
    display: flex;
    width: 280px;
    justify-content: space-between;
}

#username {
    overflow-y: hidden;
}

#lineGraph {
    width: 90%;
    max-width: 700px;
    height: 230px;
    top: 170px;
    padding: 40px 0px;
}

#center-block {
    margin-top: 0px;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    width: 400px;
}

#center-block-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#select-wrapper {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    top: 0px;
}

.select-button{
    width: 33.33333%;
    border-radius: 0;
    border-bottom: 1px solid white;
    height: 35px;
    background-color: rgba(0,0,0,0);
    color: white;
    box-shadow: inset 0px -10px 20px rgba(255, 255, 255, 0.15);
    transition: color .25s ease;
}

.select-button-highlight {
    background-color: white;
    color: black;
    font-weight: 700px;
}

.select-button-highlight:hover {
    color: black !important;
    box-shadow: none !important;
}

.select-button:hover {
    color: var(--primary-orange);
    box-shadow: inset 0px -10px 20px rgb(255, 102, 25, .25);
}

#button-anthem {
    border-right: 1px solid white;
    border-top-left-radius: 8px;
}

#button-genres {
    border-right: 1px solid white;
}

#button-artists {
    border-top-right-radius: 8px;
}

#anthem-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360px;
}

#anthem-wrapper h3 {
    font-size: 20px;
    margin: 0px;
}

#anthem-wrapper p {
    margin: 0px;
    font-size: 14px;
    margin-bottom: 20px;
}

#anthem-song {
    display: flex;
    flex-direction: row;
    width: 90%;
}

#anthem-song:hover {
    cursor: pointer;
}

#anthem-song-info h3, #anthem-song-info p {
    margin: 0px;
}

#playlist-cover {
    height: 100px;
    width: 100px;
    margin-right: 20px;
}

.artist-name-highlight:hover {
    color: var(--primary-orange);
}

#code {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 320px;
    margin-top: 30px;
}

#code-h2 {
    margin-top: 50px;
    font-weight: var(--font-weight-semi-bold);
    margin: 0px;
}

#codeForm-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 80px;
}

#codeForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    max-width: 350px;
    width: 100%;
}

#codeForm button {
    width: 140px;
    height: 40px; 
    margin: 0px;
    margin-left: 10px;
}

#codeForm button:hover {
    background-color: var(--primary-orange);
}

#inputCode {
    height: 40px;
    width: 200px;
    border-radius: 10px;
    font-family: var(--font-family-poppins);
    font-size: 16px;
    padding: 0px 10px;
    border: none;
    margin: 0px;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    80% { opacity: 1; } /* Stay fully visible for the majority of the time */
    100% { opacity: 0; } /* Fade to completely transparent */
}
  

#view-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
    border-top: 1px solid rgb(125, 125, 125);
    width: 40%;
    max-width: 600px;
    padding-top: 30px;
}

#view-more h2 {
    text-align: center;
    margin: 0px;
    font-size: 24px;
}

#img-holder {
    margin-top: 20px;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease;
}

#img-holder img {
    width: 25px; 
}

#img-holder:hover {
    transform: translateY(10px);
    opacity: 0.7;
}

/* Styles for the user matches wrapper */
#user-matches-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#user-matches-wrapper h2 {
    font-size: 20px;
}

/* Styles for each matched user */
.matched-user {
    width: 110%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.matched-user:hover {
    background-color: grey;
    cursor: pointer;
}

.matched-user-info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 80%;
    overflow: hidden;
    max-width: 220px;
}

.matched-user img {
    width: 50px; /* Adjust the image size as needed */
    height: 50px; /* Adjust to maintain aspect ratio */
    border-radius: 5px; /* Circular images */
    object-fit: cover; /* Ensures images cover the area nicely */
    margin-right: 10px;
}

.matched-user-name, .matched-user-percent {
    margin: 0px;
}

.matched-user-percent {
    color: var(--primary-orange);
    display: flex;
    align-items: flex-end;
}

.matched-user-info {
    text-align: center;
    margin: 0px;
}

#no-matches-text {
    margin: 0px;
    text-align: center;
    width: 400px;
    margin-bottom: 30px;
}

#no-matches-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media (max-width: 500px) {
    #lineGraph {
        width: 95%;
        top: 170px;
        height: 180px;
        padding: 35px 0px;
    }
    #tops {
        width: 280px;
    }

    #anthem-wrapper {
        width: 280px;
    }

    #view-more {
        width: 90%;
    }

    #no-matches-text {
        width: 90%;
    }
}