body {
    overflow: hidden;
    height: 100vh;
}

header {
    justify-content: flex-start;
}

#nav-items {
    width: 100%;
    justify-content: flex-start;
    transition: display .5s ease;
    margin: 0px;
}

#nav-items p {
    margin: 0px;
    margin-left: 50px;
}

#center-block {
    margin-top: 15vh;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    animation: fade .5s 1;
}

#center-block h1 {
    margin: 0px;
}

#center-text {
    padding-top: 150px;
}

#register-text {
    padding-top: 20px;
    width: 100%;
}

#register-text a {
    color: white;
}

#center-block2 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;
    width: 300px;
    text-align: center;
    animation: fade 1s 1;
}

fieldset {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}

#team-select fieldset {
    border: 1px solid white;
    border-radius: 10px;
    padding: 0px 30px 30px 30px;
}

#team-select legend {
    text-align: center;
    padding: 0px 10px;
}

label input[type="radio"] {
    margin-right: 10px;
}
#team-select button {
    text-align:center;
}

.team-select-button {
    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(140deg, #ffede0 0%, #FFC79F 60%, #FF8934 100%);
    color: #000; /* Set text color to ensure visibility */
}

.team-select-button span {
    position: relative;
    z-index: 2; /* Higher z-index to keep text on top */
}

.team-select-button::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0; /* Start from the right */
    width: 0%; /* Start with no width */
    height: 100%;
    background-color: #FF8934; /* Solid orange color */
    transition: width 0.2s ease-out; /* Animate the width */
    border-radius: 10px;
    z-index: 1; /* Lower than the text */
}

.team-select-button:hover::before {
    width: 100%; /* Expand to full width on hover */
}


#lineGraph {
    margin-bottom: 10px;
    width: 550px;
    height: 210px;
    position: absolute;
    margin-top: 110px;
}

#graphic {
    position: fixed;
    bottom: -630px; /* Aligns it to the bottom of the nearest positioned ancestor */
    left: -400px;
    width: 1400px; /* Makes it responsive, taking the full width of its container */
    height: 600px; /* Fixed height */
    z-index: 1000; /* Ensures it's on top of other content (adjust as needed) */
    transform: rotate(20deg);
    transform-origin: bottom right;
    overflow: hidden;
    animation: fadein-left 1s 1;
/*     transition: width 1s ease; */
}

#graphic2 {
    position: fixed;
    top: -1250px; /* Aligns it to the bottom of the nearest positioned ancestor */
    right: 900px;
    width: 1400px; /* Makes it responsive, taking the full width of its container */
    height: 600px; /* Fixed height */
    z-index: 1000; /* Ensures it's on top of other content (adjust as needed) */
    transform: rotate(200deg);
    transform-origin: bottom right;
    overflow: hidden;
    animation: fadein-top 1s 1;
/*     transition: height 1s ease; */
}


#center-button {
    margin-top: 10px;
    width: 260px;
    height: 50px;
    border-radius: 10px;
    transition: background-color .25s ease;
}

#center-button:hover {
    background-color: var(--primary-orange);
}


/* Add in a middle 50% to the below to fix? */

@keyframes fade {
    0% { opacity: 0}
    25% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes fadein-lower { 
    0% {    left: -400px;
            bottom: -300px; }
    100% { height: -200px } 
}

@keyframes fadein-left {
    0% {    left: -100vw;
            bottom: -800px; }
    100% {  left: -400px;
            bottom: -630px; }
}

@keyframes fadeout-top {
    0% { top: -1250px}
    100% { top: -2000px }
}

@keyframes fadein-top {
    0% { top: -2000px}
    100% { top: -1250px }
}

@media (max-width: 950px) {
    body {
        overflow: hidden;
    }
    #nav-button {
        display: none !important;
    }

    #nav-items {
        display: block !important;
    }

    #graphic {
        animation: fadein-lower 1s 1;
        bottom: -50px;
        left: auto;
        transform: rotate(0deg);
        height: 25%;
        width: 110%;
        position: fixed;
    }

    #graphic2 {
        animation: fadeout-top 1s 1;
        top: -2000px;
    }

    #lineGraph {
        width: 90%;
    }
}

@media (max-width: 667px) {
    #center-block {
        margin-top: 5vh;
    }

    #center-block2 {
        margin-top: 8vh;
    }

    #graphic {
        animation: fadein-lower 1s 1;
        bottom: -30px;
        left: auto;
        transform: rotate(0deg);
        height: 25%;
        width: 110%;
        position: fixed;
    }

}

@media (min-width: 1500px) { /* Need to fix refresh weirdness for iPhone screen */
    #graphic {
        transition: left 0.5s ease-out;
        left: -20vw;
    }
}