body {
    background: linear-gradient(to bottom, var(--background-color), #2B2B2B);
    height: 100vh;
}

body h2 {
    margin: 0px;
    margin-bottom: 10px;
}

body p {
    margin: 0px;
    margin-bottom: 30px;
}

#center-block {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    opacity: 1;
}

#code-input {
    height: 40px;
    border-radius: 20px;
    border: 0px;
    padding-left: 15px;
    font-family: var(--font-family-poppins);
}

#submit-button {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 140px;
    border-radius: 20px;
    padding: 5px 0px;
    margin-left: 32%;
}

#tops-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 25px;
    border-radius: 20px;
    max-width: 500px;
}

#loading {
    position: absolute;
    display: none;
    margin-top: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#loading h2 {
    text-align: center;
    margin: 0px;
}

#lineGraph {
    width: 550px;
    height: 210px;
}

.fade-out {
    animation: fadeOut 1s 1;
    animation-fill-mode: forwards;
}

.fade-in {
    animation: fadeIn 1s 1;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; } /* Fade to completely transparent */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } /* Fa0e to completely transparent */
}