@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300..700&display=swap');

/* Variables */
:root {
    --background-color: #131313;
    --primary-white: #FFFFFF;
    --primary-orange: #FF8934;
    --primary-pink: #F18CE7;
    --hover-pink: #eeaee8;
    /* Font Sizes */
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 16px;
    --font-size-p: 16px;

    /* Font Weights */
    --font-weight-bold: 700; /* Used for H1, H2, H3 */
    --font-weight-semi-bold: 500;
    --font-weight-normal: 300; /* Used for paragraph */
    --font-weight-slim: 200; /* Used for paragraph */

    /* Font Family */
    --font-family-poppins: 'Poppins', sans-serif;
    --font-family-mono: "Overpass Mono", monospace;
}

body {
    margin: 10px;
    padding: 10px;
    color: var(--primary-white);
    font-family: var(--font-family-poppins);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, var(--background-color), #202020);
}

.text-gradient {
    background: linear-gradient(160deg, #FFF 30.65%, var(--primary-orange) 80.42%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
}


h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-h3);
    font-weight: var(--font-weight-bold);
    font-style: italic; /* H3 is italic */
}

p {
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-normal);
}

button {
    background-color: var(--primary-pink);
    color: var(--background-color);
    border: none;
    font-family: var(--font-family-poppins);
    font-size: var(--font-size-p);
    font-weight: var(--font-weight-semi-bold);
    border-radius: 10px;
    transition: background-color .5s ease;
}

button:hover {
    cursor: pointer;
}

header {
    margin: 10px;
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
}

header h3 {
    margin: 0px;
}

header img {
    width: 30px;
    height: 20px;
    margin: 0px;
}

header img:hover {
    cursor: pointer;
}

#spotify-logo {
    display: flex;
    align-items: center;
}

#spotify-logo img {
    margin: 20px;
    width: 100px;
}

#home-nav:hover {
    cursor: pointer;
}

#nav-bar {
    display: flex;
    flex-direction: row;
    
}

#nav-bar a {
    padding-left: 80px;
    text-decoration: none;
    color: white;
    transition: color .25s ease;
}

#nav-bar a:hover {
    color: var(--primary-orange);
}

#nav-bar p {
    margin: 0px;
}

#nav-items {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

#nav-items p {
    margin: 0px 20px;
}

#nav-items a {
    transition: color .25s ease;
}

#nav-items a:hover {
    color: var(--primary-orange);
}

#nav-button {
    position: absolute;
    top: 30px;
    right: 20px;
    background: none;
    cursor: pointer;
    border: none;
    transition: .5s;
    display: none;
    z-index: 9001;
}

@keyframes fade-in-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.nav-button-spin {
    animation: spin .5s ease;
}

.nav-button-spin-reverse {
    animation: spin-reverse .5s ease;
}

@keyframes spin {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-reverse {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

#nav-icon {
    width: 30px;
}

.nav-icon-fade {
    transition: opacity 3s ease;
}

#nav-menu {
    transition: .5s;
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    top: 0px;
    right: -10px;
    width: 85%;
    height:100vh;
    font-size: var(--font-size-h3);
    z-index: 9000;
    padding-top: 10px;
    padding-bottom: 30px;
    box-shadow: -30px 0 40px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    background: linear-gradient(to left, #000000, #101010);

}

#nav-menu ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
    margin-top: 40px;
    width: 100%;
}

/* Style the navigation menu list items */
#nav-menu ul li {
    text-align: center;
    padding-bottom: 10px;
    margin: 30px 0px;
}

/* Style the navigation menu links */
#nav-menu ul li a {
    text-decoration: none; /* Remove underline */
    color: white;
    transition: color 0.3s ease;
}

#nav-menu ul li a:hover {
    color: var(--primary-orange);
}

#nav-menu img {
    width: 30px;
    height: 30px;
    margin: 20px;
    margin-bottom: 40px;
}

#icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#highlight-link {
    color:var(--primary-orange)  !important;
}

ol {
    font-weight: var(--font-weight-slim);
}

.highlight {
    color: var(--primary-orange);
}

.gradient-high {
    background: linear-gradient(160deg, #FFF 30.65%, var(--primary-orange) 80.42%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.gradient-low {
    background: linear-gradient(90deg, #FFF 30.65%, var(--primary-orange) 150.42%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.view-button {
    background-color: transparent;
    border: 1px solid var(--primary-white);
    color: var(--primary-white);
    font-family: var(--font-family-mono);
    font-size: 16px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color .5s ease;
}

.view-button p {
    margin: 0px;
}

.view-button.active {
    background-color: var(--primary-pink);
    color: var(--background-color);
    border: 1px solid var(--primary-pink);

}

.widget-border {
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 20px;
    border-radius: 20px;
}

.border-radius-img {
    border-radius: 10px;
}

@media (max-width: 500px) {
    #nav-menu {
        align-items: center;
        border-bottom: 1px solid white;
        border-radius: 5px;
    }

    #nav-button {
        display: block;

    }
    #nav-items {
        display: none;
    }
}