body {
    background: linear-gradient(to bottom, var(--background-color), #2B2B2B);
    height: 100vh;
}

body h2 {
    margin: 0px;
    margin-bottom: 10px;
}

h2 {
    color: white;
}

body p {
    margin: 0px;
    margin-bottom: 30px;
}

#center-block {
    display: flex;
    margin-top: 15%;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border: 1px solid white;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
}

#wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#lineGraph {
    margin-bottom: 10px;
    width: 70%;
    max-width: 700px;
    height: 200px;
    padding: 40px 0px;
}

#code-input {
    height: 40px;
    border-radius: 20px;
    border: 0px;
    padding-left: 15px;
    font-family: var(--font-family-poppins);
}

#submit-button {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 140px;
    border-radius: 20px;
    padding: 5px 0px;
    margin-left: 32%;
}

#tops-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: grey;
    border-width: 2px;
    padding: 25px;
    border-radius: 20px;
    max-width: 500px;
}
  
#tops {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 100%;
}

#tops-section {
    width: 200px;
}

#tops h3 {
    font-size: 20px;
    margin: 0px;
}

#tops ol {
    margin: 0px;
    padding-left: 25px;
}

#tops-view-more {
    align-self: center;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 15px;
    width: 100%;
}

#tops-view-more:hover {
    opacity: 0.8;
    cursor: pointer;
}

#tops-view-more img {
    width: 15px;
}