<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>the wavelength app</title>
      <link rel="stylesheet" href="/static/styles.css">
      <link rel="stylesheet" href="/static/comparison.css">
      <script src="https://d3js.org/d3.v6.min.js"></script>
   </head>
   <body>
    <header>
        <h3><a href="/display">wavelength</a></h3>
        <div id="nav-items">
            <p><a href="/input_playlist">playlist</a></p>
            <p><a href="/comparison">compare</a></p>
            <p><a href="/about">about</a></p>
            <p><a href="/new_profile">new profile</a></p>
            <p><a href="/error">error</a></p>
        </div>
        
        <button id="nav-button">
            <img src="../static/icons/Menu2.png" id="nav-icon" alt="Navigation Icon" class="fade-in">
        </button>
        <div id="nav-menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/input_playlist">playlist</a></li>
                <li><a href="/comparison">compare</a></li>
                <li><a href="/about">about</a></li>
                <p><a href="/new_profile">new profile</a></p>
                <p><a href="/error">error</a></p>
            </ul>
            <div id="icons">
                <img src="../static/icons/instagram.png" alt="Instagram">
                <img src="../static/icons/facebook.png" alt="Facebook">
                <img src="../static/icons/x.png" alt="X (Twitter)">
            </div>
        </div>
        </header>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const navButton = document.getElementById("nav-button");
            const navMenu = document.getElementById("nav-menu");
            const navIcon = document.getElementById("nav-icon");
            const bodyElement = document.body;
            document.body.classList.add('fade-in');
    
            // Toggle the menu's visibility when the button is clicked
            navButton.addEventListener("click", () => {
                if (navIcon.src.endsWith("Menu2.png")) {
                    navIcon.src = "../static/icons/Menu_close.png";
                    navIcon.style.width = "20px";
                    navMenu.style.display = "flex";
                    navButton.classList.add("nav-button-spin");
                    navButton.addEventListener("animationend", () => {
                        navButton.classList.remove("nav-button-spin");
                    });
    
                } else {
                    navIcon.src = "../static/icons/Menu2.png";
                    navIcon.style.width = "30px";
                    navMenu.style.display = "none";
                    navIcon.classList.toggle("nav-icon-fade");
                    navButton.classList.add("nav-button-spin-reverse");
                    navIcon.addEventListener("transitionend", () => {
                        navIcon.classList.remove("nav-button-spin-reverse");
                    });
                }
            });
        });
    </script>
    <script>
        let user1DataAllTime = JSON.parse('{{ user1_graph_data_all_time|tojson|safe }}');
        let user1DataRecent = JSON.parse('{{ user1_graph_data_recent|tojson|safe }}');
        let user2DataAllTime = JSON.parse('{{ user2_graph_data_all_time|tojson|safe }}');
        let user2DataRecent = JSON.parse('{{ user2_graph_data_recent|tojson|safe }}');
        let user1DataMedium = JSON.parse('{{ user1_graph_data_medium|tojson|safe }}');
        let user2DataMedium = JSON.parse('{{ user2_graph_data_medium|tojson|safe }}');
        let sharedGenresR = JSON.parse('{{ shared_genres_r|tojson|safe }}');
        let sharedGenresM = JSON.parse('{{ shared_genres_m|tojson|safe }}');
        let sharedGenresA = JSON.parse('{{ shared_genres_a|tojson|safe }}');
        let sharedArtistsR = JSON.parse('{{ shared_artists_r|tojson|safe }}');
        let sharedArtistsM = JSON.parse('{{ shared_artists_m|tojson|safe }}');
        let sharedArtistsA = JSON.parse('{{ shared_artists_a|tojson|safe }}');
        var timeframeView = "oneMonth";
        var components = '';


        function switchView() {
            // Remove 'active' class from all buttons
            document.getElementById('oneMonthBtn').classList.remove('active');
            document.getElementById('sixMonthBtn').classList.remove('active');
            document.getElementById('oneYearBtn').classList.remove('active');

            let user1Data, user2Data, shared_genres, shared_artists;

            // Select the appropriate data based on timeframeView
            switch (timeframeView) {
                case "oneMonth":
                    user1Data = user1DataRecent;
                    user2Data = user2DataRecent;
                    shared_genres = sharedGenresR;
                    shared_artists = sharedArtistsR;
                    break;
                case "sixMonth":
                    user1Data = user1DataMedium;
                    user2Data = user2DataMedium;
                    shared_genres = sharedGenresM;
                    shared_artists = sharedArtistsM;
                    break;
                case "oneYear":
                    user1Data = user1DataAllTime;
                    user2Data = user2DataAllTime;
                    shared_genres = sharedGenresA;
                    shared_artists = sharedArtistsA;
                    break;
                default:
                    console.error('Invalid timeframeView:', timeframeView);
                    return; // Early exit on invalid timeframe
            }

            // Add 'active' class to the current view button
            document.getElementById(timeframeView + 'Btn').classList.add('active');

            document.getElementById('shared-genres-text').textContent = shared_genres.join(', ');
            document.getElementById('shared-artists-text').textContent = shared_artists.join(', ');

            // Draw the graph with the selected data
            updateGraph(components, user1Data, user2Data);
        }

    </script>
    <a id="back-to-dashboard" href="/display">back to dashboard</a>
    <h1 id="names-title" class="text-gradient">{{ user1_name }} & {{ user2_name }}</h1>

    <div id="button-timeframe">
        <button id="oneMonthBtn" class="view-button" onclick="timeframeView = 'oneMonth'; switchView()">1 Month</button>
        <button id="sixMonthBtn" class="view-button" onclick="timeframeView = 'sixMonth'; switchView()">6 Month</button>
        <button id="oneYearBtn" class="view-button" onclick="timeframeView = 'oneYear'; switchView()">1 Year</button>
    </div>
    <div id="user-ids">
        <div class="user-ids-div" id="user">
            <div class="circle" id="user-circle"></div>
            <p class="graph-p">{{user1_name}}</p>
        </div>
        <div class="user-ids-div" id="friend">
            <div class="circle" id="friend-circle"></div>
            <p class="graph-p">{{user2_name}}</p>
         </div>
      </div>

    <svg id="lineGraph"></svg>
    <div id="percent-wrapper">
        <h1 id="percent">
            <span class="gradient-high" id="match-value">{{ compatibility_score }}% Match!</span>
        </h1>
    </div>
    <div id="tops">
        <div id="tops-genres">
        <h3 class="gradient-low">SHARED GENRES:</h3>
        <p id="shared-genres-text"></p>
        </div>
        <div id="tops-artists">
        <h3 class="gradient-low">SHARED ARTISTS</h3>
        <p id="shared-artists-text"></p>
        </div>
    </div>

    <div id="questions-wrapper" class="widget-border">
        <h2 class="gradient-high" id="questions-header">Get Talking</h2>
        <div id="question">
            <p id="question-text"></p>
        </div>
        <div id="questions-buttons">
            <button id="back-question">Back</button>
            <button id="next-question">Next</button>
        </div>
        
    </div>

    <script>
        function shuffleArray(array) {
            for (let i = array.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [array[i], array[j]] = [array[j], array[i]]; // ES6 destructuring swap
            }
        }
        const questions = [
                "If you could only listen to the soundtrack of one movie for the rest of your life, which movie would you choose and why?",
                "Imagine you're a musician about to go on tour. What three artists (dead or alive) would you pick as your opening acts?",
                "If you had to choose a song that played every time you entered a room, what would it be and why?",
                "What's a song that you think is wildly underrated and why do you think it deserves more attention?",
                "If you could be any musical instrument, which one would you be and why?",
                "Have you ever had a song completely change your mind or attitude about something? What was the song and the situation?",
                "If you could witness any historical musical performance live, which one would it be and why?",
                "Which genre of music do you think your life would fit as a soundtrack and why?",
                "If we were in a band, what would our band name be and what kind of music would we play?",
                "What's one song or artist you love but are slightly embarrassed to admit?"
            ];

        // Shuffle questions initially
        shuffleArray(questions);

        let currentQuestionIndex = 0;

        // Function to display the current question
        function displayQuestion() {
            const questionText = document.getElementById('question-text');
            const backButton = document.getElementById('back-question');

            if (currentQuestionIndex == 0){
                backButton.classList.add('back-dull');
                backButton.classList.remove('back-normal');
            } else {
                backButton.classList.remove('back-dull');
                backButton.classList.add('back-normal');
            }

            if (currentQuestionIndex < questions.length) {
                questionText.textContent = questions[currentQuestionIndex];
            } else {
                questionText.textContent = "That's all the questions! Start again?";
                currentQuestionIndex = 0; // Reset the index if you want to loop
            }
        }

        // Event listener for the Next button
        document.getElementById('next-question').addEventListener('click', function() {
            currentQuestionIndex++; // Increment the question index
            displayQuestion();
        });
        document.getElementById('back-question').addEventListener('click', function() {
            if (currentQuestionIndex > 0){
                currentQuestionIndex--; // Increment the question index
            }
            displayQuestion();
        });

        // Initialize the first question
        displayQuestion();
    </script>


    <script>
            document.addEventListener("DOMContentLoaded", function() {
                components = initializeGraph();
                switchView(); // Initialize the graph with 'oneMonth' view
            });

           function initializeGraph() {
            const svgElement = document.getElementById('lineGraph');
            const bbox = svgElement.getBoundingClientRect();
            const width = bbox.width - 40;
            const height = bbox.height;
            const margin = {top: 10, right: 0, bottom: 10, left: 0}, // Adjusted for axis label
                graphWidth = width - margin.left - margin.right,
                graphHeight = height - margin.top - margin.bottom;

            const svg = d3.select(svgElement)
                .attr("viewBox", `0 0 ${width} ${height}`)
                .attr("preserveAspectRatio", "xMidYMid meet")

            const g = svg.append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);

            const x = d3.scaleLinear().domain([0, 7]).range([0, graphWidth]);
            const y = d3.scaleLinear().domain([0, 100]).range([graphHeight, 20]);

            // Define the gradient
            const defs = svg.append("defs");
            const gradient = defs.append("linearGradient")
                .attr("id", "area-gradient")
                .attr("gradientUnits", "userSpaceOnUse")
                .attr("x1", 0).attr("y1", y(0))
                .attr("x2", 0).attr("y2", y(100));
            gradient.append("stop").attr("offset", "20%").attr("stop-color", "rgba(255, 137, 52, .4)");
            gradient.append("stop").attr("offset", "100%").attr("stop-color", "#FF8934");

            const gradient2 = defs.append("linearGradient")
                       .attr("id", "area-gradient2")
                       .attr("gradientUnits", "userSpaceOnUse")
                       .attr("x1", 0).attr("y1", y(0))
                       .attr("x2", 0).attr("y2", y(100));
                   gradient2.append("stop").attr("offset", "20%").attr("stop-color", "rgba(255, 255, 255, .4)");
                   gradient2.append("stop").attr("offset", "100%").attr("stop-color", "#F18CE7");

            // Add the y-axis
            const yAxis = d3.axisLeft(y)
                .tickValues([0, 50, 100]) // Include the midpoint value
                .tickFormat(function(d) {
                    // Return "Low", "Baseline", or "High" based on the tick value
                    return d === 0 ? "Low" : d === 50 ? "Baseline" : "High";
                })
                .tickSize(0) // Remove the tick marks
                .tickPadding(10); // Adjust space between ticks and labels if needed

            const yAxisGroup = svg.append("g").call(yAxis);

            // Apply styles to the y-axis for a dotted line
            yAxisGroup.selectAll("path")
                        .attr("stroke-dasharray", "15,10"); // Makes the y-axis line dotted

            // Apply custom font settings to all axis text (x and y)
            yAxisGroup.selectAll("text")
                        .style("font-family", "'Overpass Mono', monospace") // Set your desired font family
                        .style("font-size", "16px");

            yAxisGroup.append("text")
                    .attr("text-anchor", "middle") // Center the text (horizontally)
                    .attr("transform", "rotate(-90)") // Rotate the text to go along the y axis
                    .attr("y", -margin.left) // Position the text based on the left margin. Adjust as needed.
                    .attr("x", - (height / 2)) // Center the text vertically along the axis
                    .attr("dy", "1em") // Adjust the position a little bit down for better readability
                    .style("font-family", "'Overpass Mono', monospace") // Optional: Match the axis font style
                    .style("font-size", "16px") // Optional: Match the axis font size
                    .text("median attribute"); // Set the label text

            // Store components for updating
            return { svg: g, x, y, graphWidth, graphHeight, margin };
        }

            function updateGraph(components, user1Data, user2Data) {
                const { svg, x, y, graphWidth, graphHeight, margin } = components;

                // Prepare the data for plotting
                const data1 = Object.values(user1Data).slice(0, 8).map((value, index) => ({x: index, y: value}));
                const data2 = Object.values(user2Data).slice(0, 8).map((value, index) => ({x: index, y: value}));

                // Define the x-axis with custom tick names
                const customTickNames = ["Acousticness", "Danceability", "Energy", "Loudness", "Popularity", "Speechiness", "Tempo", "Happiness"];
                const xAxis = svg.selectAll('.x-axis').data([null]); // Select the x-axis if it exists, or prepare to create one
                const xAxisEnter = xAxis.enter().append("g").attr("class", "x-axis");
                xAxisEnter.merge(xAxis)
                    .attr("transform", `translate(0,${y(50)})`)
                    .call(d3.axisBottom(x)
                        .tickValues(data1.map((d) => d.x))
                        .tickFormat((d, i) => customTickNames[i]))
                    .selectAll("text")
                    .attr("transform", "translate(20,0) rotate(45)")
                    .style("text-anchor", "start")
                    .style("font-family", "'Overpass Mono', monospace")
                    .style("font-size", "16px");

                // Define line and area functions for both datasets
                const line = d3.line()
                    .x(d => x(d.x))
                    .y(d => y(d.y))
                    .curve(d3.curveBumpX);

                const area = d3.area()
                    .x(d => x(d.x))
                    .y0(y(50))
                    .y1(d => y(d.y))
                    .curve(d3.curveBumpX);

                // Handle paths for user 1
                const linePath1 = svg.selectAll(".line-path-1").data([data1]);
                linePath1.enter()
                    .append("path")
                    .attr("class", "line-path-1")
                    .merge(linePath1)
                    .transition()
                    .duration(700)
                    .attr("d", line)
                    .attr("stroke", "#FF8934")
                    .attr("stroke-width", 2)
                    .attr("fill", "none");

                const areaPath1 = svg.selectAll(".area-path-1").data([data1]);
                areaPath1.enter()
                    .append("path")
                    .attr("class", "area-path-1")
                    .merge(areaPath1)
                    .transition()
                    .duration(700)
                    .attr("d", area)
                    .attr("fill", "url(#area-gradient)")
                    .attr("opacity", "0.7");

                // Handle paths for user 2
                const linePath2 = svg.selectAll(".line-path-2").data([data2]);
                linePath2.enter()
                    .append("path")
                    .attr("class", "line-path-2")
                    .merge(linePath2)
                    .transition()
                    .duration(700)
                    .attr("d", line)
                    .attr("stroke", "#F18CE7")
                    .attr("stroke-width", 2)
                    .attr("fill", "none");

                const areaPath2 = svg.selectAll(".area-path-2").data([data2]);
                areaPath2.enter()
                    .append("path")
                    .attr("class", "area-path-2")
                    .merge(areaPath2)
                    .transition()
                    .duration(700)
                    .attr("d", area)
                    .attr("fill", "url(#area-gradient2)")
                    .attr("opacity", "0.7");

                // Remove any old elements that are not present in the new data
                linePath1.exit().remove();
                areaPath1.exit().remove();
                linePath2.exit().remove();
                areaPath2.exit().remove();
            }

        </script>
    </body>
</html>