<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wavelength App: Error</title>
    <link rel="icon" href="../static/icons/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/error.css">
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <h3><a href="/">wavelength</a></h3>
    </header>
    <div id="center-block">
        <img src="../static/icons/giphy2.gif" alt="Awkward gif" id="gif">
        <h1 class="gradient-high">Oops! That's awkward...</h1>
        {% if is_invalid_error %}
        <h3>It seems like there was an issue... try one of the following:</h3>
            <ul style="text-align: left;">
            <li>If you haven't registered, please do so <a id="" href="https://docs.google.com/forms/d/e/1FAIpQLScom8YfPsGbFHmRAXGyDE8hWZlhA8ee-pc7VBprnD57UOKbKw/viewform?usp=sf_link" style="color: white;">here</a></li>
            <br>
            <li>Once you're registered, it might take a couple minutes for the system to update, so give it a minute and retry</li>
            <br>
            <li>Make sure you're using the correct referral team (Azure, Dance, Crimson, Breathe), which you should be able to find in your email</li>
            </ul>
        {% else %}
            <p>Something seems to have broken. Luckily, if you go back everything should fix itself!</p>
        {% endif %}
        <button id="goBackHome">Go Back Home</button>
        <p class="explainer">We would also greatly appreciate if you took a screenshot of the error below and sent it to us!</p>
    </div>
    <p style="margin-top: 20px; text-align: center;">Error info: {{ error_message }}</p>
    <script>
        document.getElementById('goBackHome').addEventListener('click', function() {
        window.location.href = '/';
    });
    </script>
</body>
</html>