<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>the wavelength app</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="stylesheet" href="static/home.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="icon" href="../static/icons/logo.png" type="image/png">

</head>
<body>
    <header>
        <h3><a href="/">wavelength</a></h3>
        <div id="nav-items">
            <p><a href="/input_playlist">playlist</a></p>
            <p><a href="/about">about</a></p>
        </div>
    <button id="nav-button">
        <img src="../static/icons/Menu2.png" id="nav-icon" alt="Navigation Icon" class="fade-in">
    </button>
    <div id="nav-menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/input_playlist">playlist</a></li>
            <li><a href="/comparison">compare</a></li>
            <li><a href="/about">about</a></li>
            <li><a href="#help">help</a></li>
        </ul>
    </div>
    </header>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const navButton = document.getElementById("nav-button");
            const navMenu = document.getElementById("nav-menu");
            const navIcon = document.getElementById("nav-icon");
            const bodyElement = document.body;

            // Toggle the menu's visibility when the button is clicked
            navButton.addEventListener("click", () => {
                if (navIcon.src.endsWith("Menu2.png")) {
                    navIcon.src = "../static/icons/Menu_close.png";
                    navIcon.style.width = "20px";
                    navMenu.style.display = "flex";
                    navButton.style.top = "255px";
                    navButton.classList.add("nav-button-spin");
                    bodyElement.style.opacity = "0.8";
                    navButton.addEventListener("animationend", () => {
                        navButton.classList.remove("nav-button-spin");
                    });

                } else {
                    navIcon.src = "../static/icons/Menu2.png";
                    navIcon.style.width = "30px";
                    navButton.style.top = "30px";
                    navMenu.style.display = "none";
                    navIcon.classList.toggle("nav-icon-fade");
                    navButton.classList.add("nav-button-spin-reverse");
                    bodyElement.style.opacity = "1";
                    navIcon.addEventListener("transitionend", () => {
                        navIcon.classList.remove("nav-button-spin-reverse");
                    });
                }
            });
        });
    </script>
    <div id="center-block">
        <h1 class="text-gradient">Who's on your <i>wavelength?</i></h1>
        <svg id="lineGraph"></svg>
        <p>Let's find out.</p>
        <button id="center-button" onclick="window.location='/login';">Log in with Spotify</button>
    </div>
    
    <svg id="graphic"></svg>
    <svg id="graphic2"></svg>
    <script>
        function drawGraph() {
            const svgElement = document.getElementById('lineGraph');
            const width = svgElement.clientWidth;
            const height = +svgElement.clientHeight;
            const svg = d3.select(svgElement).attr("viewBox", `0 0 ${width} ${height}`).attr("preserveAspectRatio", "xMidYMid meet");

            // Clear any previous graph
            svg.selectAll("*").remove();

            const margin = {top: 20, right: 20, bottom: 20, left: 20},
                graphWidth = width - margin.left - margin.right,
                graphHeight = height - margin.top - margin.bottom;
            
            const g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);
        
            // Sample data - replace with your own data points
            const data = [
                {x: 0, y: 10}, {x: 1, y: 10}, {x: 2, y: -10}, {x: 2.5, y: 30},
                {x: 3, y: 40}, {x: 4, y: 20}, {x: 5, y: -5}, 
                {x: 6, y: 30}, {x: 7, y: 15}, {x: 8, y: 15}
            ];
        
            // Scales
            const x = d3.scaleLinear().domain([0, d3.max(data, d => d.x)]).range([0, graphWidth]);
            const y = d3.scaleLinear().domain([0, d3.max(data, d => d.y)]).range([graphHeight-50, 0]);
        
            // Line generator
            const line = d3.line()
                           .x(d => x(d.x))
                           .y(d => y(d.y))
                           .curve(d3.curveBasis); // This makes the line smooth
        
            // Append the path, bind the data, and call the line generator 
            g.append("path")
             .datum(data) // 10. Binds data to the line 
             .attr("fill", "none")
             .attr("stroke", "white")
             .attr("stroke-width", 2)
             .attr("d", line); // 11. Calls the line generator 
        }

        function drawGraph2() {
            // Common margins used for both graphs
            const margin = {top: 20, right: 20, bottom: 20, left: 20};

            // Common data for both graphs
            const data = [
                {x: 1, y: 5}, {x: 2, y: 4}, {x: 3, y: 4},
                {x: 4, y: 5}, {x: 5, y: 6}, {x: 6, y: 5},
                {x: 7, y: 4}, {x: 8, y: 5},
            ];

            const newData = [
                {x: 1, y: 5}, {x: 2, y: 6}, {x: 3, y: 5},
                {x: 4, y: 2}, {x: 5, y: 4}, {x: 6, y: 2.5},
                {x: 7, y: 3}, {x: 8, y: 2}
            ];

            // Function to draw a graph given an SVG ID and gradient IDs
            function drawOnSVG(svgID, gradientID1, gradientID2) {
                const svgDom = document.getElementById(svgID);
                const width = svgDom.clientWidth - margin.left - margin.right;
                const height = svgDom.clientHeight - margin.top - margin.bottom;
                const svg = d3.select("#" + svgID);
                svg.selectAll("*").remove(); // This line clears the SVG content
                const g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);
                

                svg.attr("viewBox", `0 0 ${width + margin.left + margin.right} ${height + margin.top + margin.bottom}`)
                .attr("preserveAspectRatio", "xMidYMid meet");

                const x = d3.scaleLinear().domain(d3.extent([...data, ...newData], d => d.x)).range([0, width]);
                const y = d3.scaleLinear().domain([0, d3.max([...data, ...newData], d => d.y)]).range([height, 0]);

                const defs = svg.append("defs");
                const gradient1 = defs.append("linearGradient").attr("id", gradientID1).attr("gradientUnits", "userSpaceOnUse")
                                    .attr("x1", 0).attr("y1", y(0)).attr("x2", 0).attr("y2", y(d3.max([...data, ...newData], d => d.y)));
                gradient1.selectAll("stop").data([{offset: "85%", color: "#FF8934"}, {offset: "100%", color: "rgba(255,255,255, .8)"}])
                        .enter().append("stop").attr("offset", d => d.offset).attr("stop-color", d => d.color);
                const gradient2 = defs.append("linearGradient")
                    .attr("id", gradientID2)
                    .attr("gradientUnits", "userSpaceOnUse")
                    .attr("x1", 0) // Correct these values based on your gradient direction and length
                    .attr("y1", height-300)
                    .attr("x2", width)
                    .attr("y2", 0);

                gradient2.selectAll("stop")
                    .data([
                        {offset: "90%", color: "rgba(238, 56, 220, 1)"}, // Starting color
                        {offset: "100%", color: "rgba(255,255,255, 1)"} // Fading to transparent
                    ])
                    .enter().append("stop")
                    .attr("offset", d => d.offset)
                    .attr("stop-color", d => d.color);

                const area = d3.area().x(d => x(d.x)).y0(height).y1(d => y(d.y)).curve(d3.curveBasis);
                g.append("path").datum(data).attr("fill", 'rgba(238, 56, 220, 1)').attr("d", area);
                g.append("path").datum(newData).attr("fill", '#FF8934').attr("d", area).attr("opacity", "0.9");
            }

            // Draw on both SVGs with unique gradient IDs for each
            drawOnSVG('graphic', 'line-gradient-graphic', 'line-gradient1-graphic');
            drawOnSVG('graphic2', 'line-gradient-graphic2', 'line-gradient1-graphic2');
        }


        drawGraph();
        drawGraph2();

        window.addEventListener('resize', drawGraph2)

        
    </script>
</body>
</html>
