<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wavelength</title>
</head>
<body>

    <p>{{ user_data }}</p>
    <p> 
        <strong>Username:</strong> {{ user_name }}
    </p>
    <p>
        <strong>Profile pic</strong>
        <br>
        <img src="{{ profile_pic }}" alt="Profile Pic">
    </p>
    <h1> Recent Listening (Last 4 weeks)</h1>
    <h2>Top Artist</h2>
    <ul>
        {% for artist, genres in artist_genres_r.items() %}
            <li>
                <strong>{{ artist }}</strong>:
                {% if genres %}
                    <ul>
                        {% for genre in genres %}
                            <li>{{ genre }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <em>No genres listed</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h2>Top Genres</h2>
    <ul>
        {% for genre, count in genre_r.items() %}
            <li>
                <strong>{{ genre }}</strong>: {{ count }}
                
            </li>
        {% endfor %}
    </ul>
    <p> Median Popularity (popularity_r): {{popularity_r}}</p>

    <p> aritsts_r: {{ artists_r }}</p>

    <p> Median Tempo (tempo_r): {{ tempo_r }}</p>

    <p> Median Loudness (loudness_r): {{ loudness_r }}</p>

    <p> Median Acousticness (acousticness_r): {{ acousticness_r }}</p>

    <p> Median Danceability (danceability_r): {{ danceability_r }}</p>

    <p> Median Valence (valence_r): {{ valence_r }}</p>

    <p> Median Energy (energy_r): {{ energy_r }}</p>

    <p> Median Speechiness (speechiness_r): {{ speechiness_r }}</p>

    <p> Variance (variance_r): {{ variance_r }}</p>
    
    
    <h1> All Time Listening </h1>
    <h2>Top Artist</h2>
    <ul>
        {% for artist, genres in artist_genres_a.items() %}
            <li>
                <strong>{{ artist }}</strong>:
                {% if genres %}
                    <ul>
                        {% for genre in genres %}
                            <li>{{ genre }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <em>No genres listed</em>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    <h2>Top Genres</h2>
    <ul>
        {% for genre, count in genre_a.items() %}
            <li>
                <strong>{{ genre }}</strong>: {{ count }}
                
            </li>
        {% endfor %}
    </ul>
    <p> Median Popularity (popularity_a): {{popularity_a}}</p>

    <p> aritsts_r: {{ artists_a }}</p>

    <p> Median Tempo (tempo_a): {{ tempo_a }}</p>

    <p> Median Loudness (loudness_a): {{ loudness_a }}</p>

    <p> Median Acousticness (acousticness_a): {{ acousticness_a }}</p>

    <p> Median Danceability (danceability_a): {{ danceability_a }}</p>

    <p> Median Valence (valence_a): {{ valence_a }}</p>

    <p> Median Energy (energy_a): {{ energy_a }}</p>

    <p> Median Speechiness (speechiness_a): {{ speechiness_a }}</p>

    <p> Variance (variance_a): {{ variance_a }}</p>
</body>
</html>
