<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wavelength App</title>
    <link rel="icon" href="../static/icons/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/input_playlist.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <header>
        <h3><a href="/">wavelength</a></h3>
        <div id="nav-items">
            <p><a href="/input_playlist">playlist</a></p>
            <p><a href="/comparison">compare</a></p>
            <p><a href="/about">about</a></p>
            <p><a href="#help">help</a></p>
        </div>
        
        <button id="nav-button">
            <img src="../static/icons/Menu2.png" id="nav-icon" alt="Navigation Icon" class="fade-in">
        </button>
        <div id="nav-menu">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/input_playlist">playlist</a></li>
                <li><a href="/comparison">compare</a></li>
                <li><a href="/about">about</a></li>
                <li><a href="#help">help</a></li>
            </ul>
        </div>
        </header>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const navButton = document.getElementById("nav-button");
            const navMenu = document.getElementById("nav-menu");
            const navIcon = document.getElementById("nav-icon");
            const bodyElement = document.body;
    
            // Toggle the menu's visibility when the button is clicked
            navButton.addEventListener("click", () => {
                if (navIcon.src.endsWith("Menu2.png")) {
                    navIcon.src = "../static/icons/Menu_close.png";
                    navIcon.style.width = "20px";
                    navMenu.style.display = "flex";
                    navButton.style.top = "255px";
                    navButton.classList.add("nav-button-spin");
                    bodyElement.style.opacity = "0.8";
                    navButton.addEventListener("animationend", () => {
                        navButton.classList.remove("nav-button-spin");
                    });
    
                } else {
                    navIcon.src = "../static/icons/Menu2.png";
                    navIcon.style.width = "30px";
                    navButton.style.top = "30px";
                    navMenu.style.display = "none";
                    navIcon.classList.toggle("nav-icon-fade");
                    navButton.classList.add("nav-button-spin-reverse");
                    bodyElement.style.opacity = "1";
                    navIcon.addEventListener("transitionend", () => {
                        navIcon.classList.remove("nav-button-spin-reverse");
                    });
                }
            });
        });
    </script>
    <div id="center-block">
        <h2>Playlist Visualization</h2>
        <p>Paste a public Spotify playlist below and we'll show you its <span class="highlight"><i><b>Wavelength!</b></i></span></p>
        <input type="text" id="code-input" placeholder="Paste your public playlist URL here">
        <button id="submit-button">Visualize</button>
    </div>

    <div id="loading">
        <h2 class="text-gradient">Doing some heavy lifting... <br> Give us a second :)</h2>
        <svg id="lineGraph"></svg>
        <h3>Beep boop & other processing noises</h3>
    </div>
    
    <div id="spotify-logo"></div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('submit-button').addEventListener('click', function() {
                // Get the playlist URL from the input field
                var playlistUrl = document.getElementById('code-input').value.trim();
                loading();
                // Check if the input field is not empty
                if (playlistUrl) {
                    // Prepare the data to send
                    var data = {
                        'playlistURL': playlistUrl
                    };
    
                    // Send the data to your Flask backend
                    fetch('/playlist_fetch', {
                        method: 'POST', // or 'PUT'
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(data),
                    })
                    .then(response => response.json())
                    .then(data => {
                        // Store the playlist details in localStorage or sessionStorage
                        localStorage.setItem('playlistDetails', JSON.stringify(data.playlistDetails));

                        // Redirect to the new page
                        const loading = document.getElementById('loading');

                        loading.classList.remove('fade-in');
                        loading.classList.add('fade-out');

                        // Listen for the animationend event
                        loading.addEventListener('animationend', function() {
                            window.location.href = '/view_playlist';
                        }, { once: true }); // Use { once: true } to ensure the listener is removed after it fires
                    })

                    .catch((error) => {
                        console.error('Error:', error);
                    });
                } else {
                    alert('Please paste a Spotify playlist URL.');
                }
            });
        });
        function loading() {
            const centerBlock = document.getElementById('center-block');
            const loading = document.getElementById('loading');
            centerBlock.classList.add('fade-out');
            loading.style.display = "flex";
            drawGraph();
            loading.classList.add('fade-in');
        }
        const datasets = [
            [
                {x: 0, y: 10}, {x: 1, y: 10}, {x: 2, y: -20}, {x: 2.5, y: 30},
                {x: 3, y: 50}, {x: 4, y: 20}, {x: 5, y: -10}, 
                {x: 6, y: 30}, {x: 7, y: 15}, {x: 8, y: 15}
            ],
            [
                {x: 0, y: 25}, {x: 1, y: -20}, {x: 2, y: 10}, {x: 2.5, y: -30},
                {x: 3, y: 15}, {x: 4, y: 60}, {x: 5, y: 0}, 
                {x: 6, y: 45}, {x: 7, y: 10}, {x: 8, y: 20}
            ],
            [
                {x: 0, y: 5}, {x: 1, y: 35}, {x: 2, y: 0}, {x: 2.5, y: 25},
                {x: 3, y: 50}, {x: 4, y: 10}, {x: 5, y: -40}, 
                {x: 6, y: 15}, {x: 7, y: 30}, {x: 8, y: 20}
            ],
            [
                {x: 0, y: 10}, {x: 1, y: 20}, {x: 2, y: 30}, {x: 2.5, y: 5},
                {x: 3, y: -20}, {x: 4, y: 45}, {x: 5, y: 15}, 
                {x: 6, y: 60}, {x: 7, y: 25}, {x: 8, y: 30}
            ]
        ];


    
        let currentDatasetIndex = 0;
    
        function drawGraph() {
            const svgElement = document.getElementById('lineGraph');
            const width = svgElement.clientWidth;
            const height = svgElement.clientHeight;
            const svg = d3.select(svgElement).attr("viewBox", `0 0 ${width} ${height}`).attr("preserveAspectRatio", "xMidYMid meet");
    
            const margin = {top: 20, right: 20, bottom: 20, left: 20},
                graphWidth = width - margin.left - margin.right,
                graphHeight = height - margin.top - margin.bottom;
    
            svg.selectAll("*").remove(); // Clear any previous graph
    
            const g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);
    
            // Setup the scales
            const xScale = d3.scaleLinear().domain([0, d3.max(datasets[0], d => d.x)]).range([0, graphWidth]);
            let allYValues = datasets.flat().map(d => d.y); // Flatten all y values across datasets
            const yScale = d3.scaleLinear().domain([d3.min(allYValues), d3.max(allYValues)]).range([graphHeight, 0]);
    
            // Line generator
            const line = d3.line()
                            .x(d => xScale(d.x))
                            .y(d => yScale(d.y))
                            .curve(d3.curveBasis);
    
            // Initialize path with first dataset
            const path = g.append("path")
                          .datum(datasets[0])
                          .attr("fill", "none")
                          .attr("stroke", "white")
                          .attr("stroke-width", 2)
                          .attr("d", line);
    
            function updateGraph(datasetIndex) {
                // Calculate new Y scale based on the new dataset
                yScale.domain([d3.min(allYValues), d3.max(allYValues)]).range([graphHeight, 0]);
    
                // Apply the new data and transition
                path.datum(datasets[datasetIndex % datasets.length])
                    .transition()
                    .duration(2000)
                    .attr("d", line);
            }
    
            setTimeout(() => {
                updateGraph(++currentDatasetIndex);
            }, 0); // Set timeout to 0 to immediately invoke without delay

            // Continue updating the graph at regular intervals
            setInterval(() => {
                updateGraph(++currentDatasetIndex);
            }, 2000);
        }
    </script>
    
</body>
</html>
