<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wavelength App</title>
    <link rel="icon" href="../static/icons/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<style>
        body {
        background-color: #1a1a1a; /* Replace with your website's background color */
    }
    .select-dot {
        position: relative; /* Adjust if necessary for your layout */
        z-index: 1; /* Set to a reasonable value within your stacking context */
        cursor: pointer; /* To indicate the dots are clickable */
    }
</style>
<body>
  <header>
    <h3><a href="/">wavelength</a></h3>
    <div id="nav-items">
        <p><a href="/about">about</a></p>
    </div>
    
    <button id="nav-button">
        <img src="../static/icons/Menu2.png" id="nav-icon" alt="Navigation Icon" class="fade-in">
    </button>
    <div id="nav-menu">
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/about">about</a></li>
        </ul>
        <div id="icons">
            <img src="../static/icons/instagram.png" alt="Instagram">
            <img src="../static/icons/facebook.png" alt="Facebook">
            <img src="../static/icons/x.png" alt="X (Twitter)">
        </div>
    </div>
    </header>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const navButton = document.getElementById("nav-button");
        const navMenu = document.getElementById("nav-menu");
        const navIcon = document.getElementById("nav-icon");
        const bodyElement = document.body;
        document.body.classList.add('fade-in');

        // Toggle the menu's visibility when the button is clicked
        navButton.addEventListener("click", () => {
            if (navIcon.src.endsWith("Menu2.png")) {
                navIcon.src = "../static/icons/Menu_close.png";
                navIcon.style.width = "20px";
                navMenu.style.display = "flex";

            } else {
                navIcon.src = "../static/icons/Menu2.png";
                navIcon.style.width = "30px";
                navMenu.style.display = "none";
                navIcon.classList.toggle("nav-icon-fade");
            }
        });
    });
</script>
    <!-- User's name -->
    <h1 id="username" class="text-gradient">{{ user_name }}</h1>
    
    <!-- Timeframe Buttons -->
    <div id="button-timeframe">
        <button id="oneMonthBtn" class="view-button" onclick="timeframeView = 'oneMonth'; switchView()">1 Month</button>
        <button id="sixMonthBtn" class="view-button" onclick="timeframeView = 'sixMonth'; switchView()">6 Month</button>
        <button id="oneYearBtn" class="view-button" onclick="timeframeView = 'oneYear'; switchView()">1 Year</button>
    </div>
    <div id="wavelength-explainer-wrapper">
        <div style="display: none;" id="wavelength-explainer-popup">
            <h2 class="gradient-high">Your Wavelength</h2>
            <!-- Here, we use a span with an id to display the value of timeframeView -->
            <p>This graph shows your Wavelength, the <b>average attributes for the music you listened to</b> during the selected timeframe.</p>
            <p>For example, if your graph shows acousticness as high, that means the music you listened to during this time period was more acoustic!</p>
            <button id="graph-explainer-button">Got it</button>
        </div>
        <svg id="lineGraph"></svg>
        <p id="wavelength-explainer-trigger"><i>What does this graph mean?</i></p>
    </div>
    
    <script>
        // Get references to the elements
        const explainerTrigger = document.getElementById('wavelength-explainer-trigger');
        const explainerPopup = document.getElementById('wavelength-explainer-popup');
        const closeButton = document.getElementById('graph-explainer-button');
    
        explainerTrigger.addEventListener('click', function() {
            explainerPopup.style.display = (explainerPopup.style.display === 'none') ? 'flex' : 'none';
        });
    
        // Add event listener to the close button
        closeButton.addEventListener('click', function() {
            explainerPopup.style.display = 'none';
        });
    </script>
    <div id="center-block">
        <div id="select-wrapper">
            <button class="select-button select-button-highlight" id="button-anthem" onclick="topsView = 'anthem'; changeSelect()">Anthem</button>
            <button class="select-button" id="button-genres" onclick="topsView = 'genres'; changeSelect()">Genres</button>
            <button class="select-button" id="button-artists" onclick="topsView = 'artists'; changeSelect()">Artists</button>
        </div>
        <div id="center-block-wrapper">
            <div id="anthem-wrapper" style="display: none;">
                <div id="anthem-song">
                    <img class="border-radius-img" id="anthem-cover" src="" alt="">
                    <div id="anthem-song-info">
                        <h3 id="songName">Song Name</h3>
                        <p id="songArtist">Artist Name</p>
                    </div>
                </div>
            </div>
            <div id="top-genres" style="display: none;">
                <ol id="top-genres-list">
                </ol>
            </div>
            <div id="top-artists" style="display: none;">
                <ol id="top-artists-list">
                </ol>
            </div>
        </div>
    </div>
    <p id="tops-explainer" class="explainer"><i><b>Anthem:</b> Your most played song for the selected timeframe.</i></p>
    

    <script>
        var timeframeView = "oneMonth";
        var topsView = "anthem";
        var anthem_href = '';
    
        function changeSelect() {
            const anthemWrapper = document.getElementById('anthem-wrapper');
            const genresWrapper = document.getElementById('top-genres');
            const artistsWrapper = document.getElementById('top-artists');
            // Object to hold the explanations for each view
            const explanations = {
                'anthem': '<i><b>Anthem:</b> Your most played song for the selected timeframe.</i>',
                'genres': '<i><b>Genres:</b> Your top genres for the selected timeframe.</i>',
                'artists': '<i><b>Artists:</b> Your top artists for the selected timeframe. (clickable)</i>'
            };
    
            // Update the highlight class on buttons
            document.querySelectorAll('.select-button').forEach(button => {
                if (button.id === 'button-' + topsView) {
                    button.classList.add('select-button-highlight');
                } else {
                    button.classList.remove('select-button-highlight');
                }
            });
    
            // Update the explainer text according to the current view
            document.getElementById('tops-explainer').innerHTML = explanations[topsView];
    
            // Manage visibility of the divs
            anthemWrapper.style.display = (topsView === 'anthem' ? 'flex' : 'none');
            genresWrapper.style.display = (topsView === 'genres' ? 'flex' : 'none');
            artistsWrapper.style.display = (topsView === 'artists' ? 'flex' : 'none');
        }
    
        // Initial setup call to apply the default view settings
        changeSelect();
    </script>
    

    <!-- Code export section -->
    <div id="code">
        <h2 class="gradient-high" id="code-h2">Compare Wavelengths!</h2>
    </div>
    <div id="codeForm-wrapper">
        <form id="codeForm" action="/comparison" method="POST">
            <input type="text" name="user_share_token" id="inputCode" placeholder="Enter a code here!" required>
            <button type="submit">Compare</button> <!-- Need a catch to check if string is 4 letters and exists in code_names.txt -->
        </form>
        
    </div>
    <p id="error" class='widget-border'style="display:none;">Either the user does not exist or the spelling is incorrect. Please try again!</p>
    <h3 id="share-code-h3">My Share Code: <span class="highlight"><b>{{ share_token }}</b></span></h3>
    <p id="share-code-explainer" class="explainer">Share your code with someone else or input another user's code to see how your Wavelengths compare. Users you compare with will appear below!</p>


    
    <script>
        function copyButton() {
            // Get the share_token text to copy
            var shareToken = document.querySelector('#code-h2 .highlight b').innerText;
            
            // Copy shareToken to clipboard
            navigator.clipboard.writeText(shareToken).then(function() {
                console.log('Async: Copying to clipboard was successful!');
            }, function(err) {
                console.error('Async: Could not copy text: ', err);
            });
    
            // Show alert
            var alertContainer = document.getElementById('alertContainer');
            alertContainer.style.display = 'block';
            setTimeout(function() { alertContainer.style.display = 'none'; }, 3000); // Hide alert after 3 seconds
        }
        const validTokens = {{ taken_tokens | tojson | safe }}.map(token => token.toLowerCase());

        document.getElementById('codeForm').onsubmit = function(event) {
            var inputToken = document.getElementById('inputCode').value.toLowerCase(); // Convert input to lowercase
            var errorElement = document.getElementById('error');

            if (inputToken.length === 4 && validTokens.includes(inputToken)) {
                return true;
            } else {
                event.preventDefault();
                // Show error initially and reset opacity for repeated errors
                errorElement.style.display = 'block';
                errorElement.style.opacity = 1;
                errorElement.classList.remove('error-fade-out'); // Remove class to reset animation if needed

                // Wait for next tick to re-apply class to restart the animation
                setTimeout(function() { errorElement.classList.add('error-fade-out'); }, 2000);

                // Set to display none after animation ends (3 seconds here)
                setTimeout(function() {
                    errorElement.style.display = 'none';
                }, 3000);

                return false;
            }
        };


    </script>
        

    <div id="view-more">
      <h2 class="gradient-high">Who's on your Wavelength?</h2>
    </div>

    <div id="user-matches-wrapper">
    </div>
    <div id="spotify-logo">
        <div id="spotify-logo">
            <a href="https://www.spotify.com" target="_blank">
                <img src="../static/icons/Spotify_Logo.png" alt="Spotify">
            </a>
        </div>
    </div>

    <form action="{{ url_for('delete_user') }}" method="post" onsubmit="return confirm('Are you sure you want to delete your account?');">
        <button type="submit" class="logout-button">Delete Account</button>
    </form>
    
    <script>
        var matches_data = {{ matches_data | tojson | safe }};

        // Accessing graph data
        var graphData = {{ processed_data.graph_json | tojson | safe }};

        // Accessing artist and genre data by range
        var artistData_r = {{ processed_data.artists_r | tojson | safe }};
        var artistData_m = {{ processed_data.artists_m | tojson | safe }};
        var artistData_a = {{ processed_data.artists_a | tojson | safe }};

        var genreData_r = {{ processed_data.genre_r | tojson | safe }};
        var genreData_m = {{ processed_data.genre_m | tojson | safe }};
        var genreData_a = {{ processed_data.genre_a | tojson | safe }};
        initializedData = [50, 50, 50, 50, 50, 50, 50, 50, 50];
        let graphComponents = initializeGraph(); // Store returned components for later use
        window.onload = function() {
            document.getElementById('oneMonthBtn').classList.add('active');
            initializeScreen(graphComponents, initializedData);
            document.body.classList.add('fade-in');
            const anthemSongDiv = document.getElementById('anthem-song');
            anthemSongDiv.addEventListener('click', function() {
                // Redirect to the link stored in anthemOneMonth.href
                window.location.href = anthem_href;
            });
        };
      
        function switchView() {
            if (timeframeView == 'oneMonth') {
                document.getElementById('oneMonthBtn').classList.add('active');
                document.getElementById('oneYearBtn').classList.remove('active');
                document.getElementById('sixMonthBtn').classList.remove('active');
                updateGraph(graphComponents, graphData);
                anthem = findAnthem(tracks_r, median_values_r);
                document.getElementById('anthem-cover').src = anthem.album_art_img_url;
                document.getElementById('songName').textContent = anthem.name;
                document.getElementById('songArtist').textContent = anthem.artist;
                anthem_href = anthem.spotify_url;
            } 
            else if (timeframeView == 'sixMonth') {
                document.getElementById('sixMonthBtn').classList.add('active');
                document.getElementById('oneYearBtn').classList.remove('active');
                document.getElementById('oneMonthBtn').classList.remove('active');
                updateGraph(graphComponents, graphData);
                anthem = findAnthem(tracks_m, median_values_m);
                document.getElementById('anthem-cover').src = anthem.album_art_img_url;  
                document.getElementById('songName').textContent = anthem.name;
                document.getElementById('songArtist').textContent = anthem.artist;
                anthem_href = anthem.spotify_url;
            } 
            else if (timeframeView == 'oneYear') {
                document.getElementById('sixMonthBtn').classList.remove('active');
                document.getElementById('oneYearBtn').classList.add('active');
                document.getElementById('oneMonthBtn').classList.remove('active');
                updateGraph(graphComponents, graphData);
                anthem = findAnthem(tracks_a, median_values_a);
                document.getElementById('anthem-cover').src = anthem.album_art_img_url;   
                document.getElementById('songName').textContent = anthem.name;
                document.getElementById('songArtist').textContent = anthem.artist;
                anthem_href = anthem.spotify_url;
            }
            document.getElementById('top-genres-list').innerHTML = '';
            document.getElementById('top-artists-list').innerHTML = '';

            // Determine which data set to use based on the view
            var currentArtistsData, currentGenresData;

            if (timeframeView === 'oneMonth') {
                currentArtistsData = artistData_r;
                currentGenresData = genreData_r;
            } else if (timeframeView === 'sixMonth') {
                currentArtistsData = artistData_m;
                currentGenresData = genreData_m;
            } else if (timeframeView === 'oneYear') {
                currentArtistsData = artistData_a;
                currentGenresData = genreData_a;
            }

            // Divide artists and genres into two groups
            var topArtistsFirstHalf = currentArtistsData.slice(0, 5);
            var topArtistsSecondHalf = currentArtistsData.slice(5, 10);

            // Append top artists to the list
            topArtistsFirstHalf.forEach(function(artist, index) {
                // Create the list item
                var li = document.createElement('li');

                // Create an anchor element
                var a = document.createElement('a');
                a.textContent = artist.name; 
                a.href = artist.spotify_url; 
                a.target = "_blank"; 

                a.style.textDecoration = 'none'; // Remove underline
                a.style.color = 'inherit'; // Use the parent's text color or set a specific color
                a.classList.add('artist-name-highlight');
                
                li.appendChild(a);
                document.getElementById('top-artists-list').appendChild(li);
            });

            topArtistsSecondHalf.forEach(function(artist, index) {
                // Create the list item
                var li = document.createElement('li');

                // Create an anchor element
                var a = document.createElement('a');
                a.textContent = artist.name; 
                a.href = artist.spotify_url; 
                a.target = "_blank"; 

                a.style.textDecoration = 'none'; // Remove underline
                a.style.color = 'inherit'; // Use the parent's text color or set a specific color
                a.classList.add('artist-name-highlight');
                
                li.appendChild(a);
                document.getElementById('top-artists-list').appendChild(li);
            });

            // Sort and append top genres to the list
            Object.entries(currentGenresData).sort((a,b) => b[1] - a[1]).slice(0, 10).forEach(function([genre, count], index) {
                var li = document.createElement('li');
                li.textContent = genre;
                document.getElementById('top-genres-list').appendChild(li);
            });
        }

        function initializeGraph() {
            const svgElement = document.getElementById('lineGraph');
            const bbox = svgElement.getBoundingClientRect();
            const width = bbox.width - 40;
            const height = bbox.height;
            const margin = {top: 10, right: 0, bottom: 10, left: 0}, // Adjusted for axis label
                graphWidth = width - margin.left - margin.right,
                graphHeight = height - margin.top - margin.bottom;

            const svg = d3.select(svgElement)
                .attr("viewBox", `0 0 ${width} ${height}`)
                .attr("preserveAspectRatio", "xMidYMid meet")

            const g = svg.append("g")
                .attr("transform", `translate(${margin.left},${margin.top})`);

            const x = d3.scaleLinear().domain([0, 7]).range([0, graphWidth]);
            const y = d3.scaleLinear().domain([0, 100]).range([graphHeight, 20]);

            // Define the gradient
            const defs = svg.append("defs");
            const gradient = defs.append("linearGradient")
                .attr("id", "area-gradient")
                .attr("gradientUnits", "userSpaceOnUse")
                .attr("x1", 0).attr("y1", y(0))
                .attr("x2", 0).attr("y2", y(100));
            gradient.append("stop").attr("offset", "0%").attr("stop-color", "#F18CE7");
            gradient.append("stop").attr("offset", "100%").attr("stop-color", "#FF8934");

            // Add the y-axis
            const yAxis = d3.axisLeft(y)
                .tickValues([0, 50, 100]) // Include the midpoint value
                .tickFormat(function(d) {
                    // Return "Low", "Baseline", or "High" based on the tick value
                    return d === 0 ? "Low" : d === 50 ? "Baseline" : "High";
                })
                .tickSize(0) // Remove the tick marks
                .tickPadding(10); // Adjust space between ticks and labels if needed

            const yAxisGroup = svg.append("g").call(yAxis);

            // Apply styles to the y-axis for a dotted line
            yAxisGroup.selectAll("path")
                        .attr("stroke-dasharray", "15,10"); // Makes the y-axis line dotted

            // Apply custom font settings to all axis text (x and y)
            yAxisGroup.selectAll("text")
                        .style("font-family", "'Overpass Mono', monospace") // Set your desired font family
                        .style("font-size", "16px");

            yAxisGroup.append("text")
                    .attr("text-anchor", "middle") // Center the text (horizontally)
                    .attr("transform", "rotate(-90)") // Rotate the text to go along the y axis
                    .attr("y", -margin.left) // Position the text based on the left margin. Adjust as needed.
                    .attr("x", - (height / 2)) // Center the text vertically along the axis
                    .attr("dy", "1em") // Adjust the position a little bit down for better readability
                    .style("font-family", "'Overpass Mono', monospace") // Optional: Match the axis font style
                    .style("font-size", "16px") // Optional: Match the axis font size
                    .text("median attribute"); // Set the label text

            // Store components for updating
            return { svg: g, x, y, graphWidth, graphHeight, margin };
        }

        function updateGraph(components, graphData) { /* Current problem: when constantly updating, the bars and lettering get bold and weird */
            const { svg, x, y, graphWidth, graphHeight, margin } = components;
            let medianValue;
            if (timeframeView === 'oneMonth') {
                medianValue = graphData.median_values_r;
            } else if (timeframeView === 'sixMonth') {
                medianValue = graphData.median_values_m;
            } else if (timeframeView === 'oneYear') {
                medianValue = graphData.median_values_a;
            }

            const data = Object.values(medianValue).slice(0, 8).map((value, index) => ({x: index, y: value}));

            // Update the x-axis for custom tick names
            const customTickNames = ["Acousticness", "Danceability", "Energy", "Loudness", "Popularity", "Speechiness", "Tempo", "Happiness"];
            svg.append("g")
                .attr("transform", `translate(0,${y(50)})`)
                .call(d3.axisBottom(x)
                    .tickValues(data.map((d, i) => d.x))
                    .tickFormat((d, i) => customTickNames[i]))
                .selectAll("text")
                .attr("transform", "translate(20,0) rotate(45)")
                .style("text-anchor", "start")
                .style("font-family", "'Overpass Mono', monospace")
                .style("font-size", "16px");

            const line = d3.line()
                .x(d => x(d.x))
                .y(d => y(d.y))
                .curve(d3.curveBumpX);

            const area = d3.area()
                .x(d => x(d.x))
                .y0(y(50))
                .y1(d => y(d.y))
                .curve(d3.curveBumpX);

            // Update or enter the area path
                // Update or enter the area path
            const areaPath = svg.selectAll(".area-path").data([data]);
            areaPath.enter()
                .append("path")
                .attr("class", "area-path")
                .attr("fill", "url(#area-gradient)")
                .merge(areaPath)
                .transition()
                .duration(700)
                .attr("d", area)
                .attr("opacity", "0.7");

            // Update or enter the line path
            const linePath = svg.selectAll(".line-path").data([data]);
            linePath.enter()
                .append("path")
                .attr("class", "line-path")
                .attr("stroke", "url(#area-gradient)")
                .attr("stroke-width", 2)
                .attr("fill", "none")
                .merge(linePath)
                .transition()
                .duration(700)
                .attr("d", line);

            // Remove any old elements that are not present in the new data
            areaPath.exit().remove();
            linePath.exit().remove();
        }

        function initializeScreen(components, medianValues) {
            document.getElementById('oneMonthBtn').classList.add('active');
            document.getElementById('sixMonthBtn').classList.remove('active');
            document.getElementById('oneYearBtn').classList.remove('active');
            document.getElementById('top-genres-list').innerHTML = '';
            document.getElementById('top-artists-list').innerHTML = '';
            anthem = findAnthem(tracks_r, median_values_r);
            document.getElementById('anthem-cover').src = anthem.album_art_img_url;
            var currentArtistsData = artistData_r;

            var currentGenresData = genreData_r;

            currentArtistsData.slice(0,10).forEach(function(artist, index) {
                // Create the list item
                var li = document.createElement('li');

                // Create an anchor element
                var a = document.createElement('a');
                a.textContent = artist.name; 
                a.href = artist.spotify_url; 
                a.target = "_blank"; 

                a.style.textDecoration = 'none'; // Remove underline
                a.style.color = 'inherit'; // Use the parent's text color or set a specific color

                li.appendChild(a);
                document.getElementById('top-artists-list').appendChild(li);
            });

            Object.entries(currentGenresData).sort((a,b) => b[1] - a[1]).slice(0, 10).forEach(function([genre, count]) {
                var li = document.createElement('li');
                li.textContent = genre;
                document.getElementById('top-genres-list').appendChild(li);
            });
            const { svg, x, y, graphWidth, graphHeight, margin } = components;
            const data = medianValues.slice(0, 8).map((value, index) => ({x: index, y: value}));

            // Update the x-axis for custom tick names
            const customTickNames = ["Acousticness", "Danceability", "Energy", "Loudness", "Popularity", "Speechiness", "Tempo", "Happiness"];
            svg.append("g")
                .attr("transform", `translate(0,${y(50)})`)
                .call(d3.axisBottom(x)
                    .tickValues(data.map((d, i) => d.x))
                    .tickFormat((d, i) => customTickNames[i]))
                .selectAll("text")
                .attr("transform", "translate(20,0) rotate(45)")
                .style("text-anchor", "start")
                .style("font-family", "'Overpass Mono', monospace")
                .style("font-size", "16px");

            const line = d3.line()
                .x(d => x(d.x))
                .y(d => y(d.y))
                .curve(d3.curveBumpX);

            const area = d3.area()
                .x(d => x(d.x))
                .y0(y(50))
                .y1(d => y(d.y))
                .curve(d3.curveBumpX);

            // Update or enter the area path
                // Update or enter the area path
            const areaPath = svg.selectAll(".area-path").data([data]);
            areaPath.enter()
                .append("path")
                .attr("class", "area-path")
                .attr("fill", "url(#area-gradient)")
                .merge(areaPath)
                .transition()
                .duration(1000)
                .attr("d", area)
                .attr("opacity", "0.7");

            // Update or enter the line path
            const linePath = svg.selectAll(".line-path").data([data]);
            linePath.enter()
                .append("path")
                .attr("class", "line-path")
                .attr("stroke", "url(#area-gradient)")
                .attr("stroke-width", 2)
                .attr("fill", "none")
                .merge(linePath)
                .transition()
                .duration(1000)
                .attr("d", line);

            // Remove any old elements that are not present in the new data
            areaPath.exit().remove();
            linePath.exit().remove();
            setTimeout(function() {
                updateGraph(graphComponents, graphData, true);
            }, 500); // 1000 milliseconds = 1 second
        }

    var tracks_r = {{ processed_data.tracks_r | tojson | safe }};
    var tracks_m = {{ processed_data.tracks_m | tojson | safe }};
    var tracks_a = {{ processed_data.tracks_a | tojson | safe }};

    var median_values_r = {{ processed_data.median_values_r | tojson | safe }};
    var median_values_m = {{ processed_data.median_values_m | tojson | safe }};
    var median_values_a = {{ processed_data.median_values_a | tojson | safe }};

    function findAnthem(songList, medianValues) { 
        let minDifference = Infinity; 
        let anthem = null; 

        songList.forEach(song => {
            let totalDifference = 0;
            Object.keys(medianValues).forEach(attribute => { 
                if (song[attribute] !== undefined) { 
                    totalDifference += Math.abs(song[attribute] - medianValues[attribute]);
                }
            });
            console.log(totalDifference);
            if (totalDifference < minDifference) { 
                minDifference = totalDifference; 
                anthem = song;
            }
        });
        anthem.imageURL = anthem.album_art_img_url;
        console.log(anthem);
        return anthem;
    }
    let anthemOneMonth = findAnthem(tracks_r, median_values_r);
    let anthemSixMonths = findAnthem(tracks_m, median_values_m);
    let anthemOneYear = findAnthem(tracks_a, median_values_a);

    document.getElementById('songName').textContent = anthemOneMonth.name;
    document.getElementById('songArtist').textContent = anthemOneMonth.artist;
    anthem_href = anthemOneMonth.spotify_url;

    const users = [];
    for (let i = 0; i <  matches_data.length; i++) {
        users.push({
            imgSrc: matches_data[i].profile_pic,
            name: matches_data[i].name,
            info: `${matches_data[i].age} | ${matches_data[i].home_town}`,
            percent: `${Math.round(matches_data[i].match_percentage)}%`,
            share_token: matches_data[i].share_token
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const wrapper = document.getElementById('user-matches-wrapper');

        // Check if the users array is empty
        if (users.length === 0) {
            const userDiv = document.createElement('div');
            userDiv.innerHTML = `
            <div id="no-matches-wrapper">
                <p id="no-matches-text">You haven't matched with anyone yet, but when you do, they'll appear here.</p>
                <p id="no-matches-text">Enter a code above to get started!</p>
            </div>
            `;
            wrapper.appendChild(userDiv);
            return; // Exit the function if the array is empty
        }

        users.forEach(user => {
            const userDiv = document.createElement('div');
            userDiv.classList.add('matched-user', 'widget-border');

            // Check if user.imgSrc is not provided and use a default image if necessary
            const imageSrc = user.imgSrc || '../static/icons/no_user.png';

            userDiv.innerHTML = `
                <img src="${imageSrc}" alt="${user.name}'s profile picture">
                <div class="matched-user-info-wrapper">
                    <h2 class="matched-user-name">${user.name}</h2>
                    <p class="matched-user-info">${user.info}</p>
                </div>
                <div class="matched-user-percent"><h2>${user.percent}</h2></div>
            `;


            userDiv.onclick = function() {
                window.location.href = '/comparison?token=' + user.share_token;
            };

            // Stop propagation if interactive elements within the div are clicked
            userDiv.querySelectorAll('a, button, input, select').forEach(el => {
                el.addEventListener('click', (e) => e.stopPropagation());
            });

            wrapper.appendChild(userDiv);
        });
    });

    </script>

</body>
</html>
