<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Wavelength App</title>
    <link rel="icon" href="../static/icons/logo.png" type="image/png">
    <link rel="stylesheet" href="../static/styles.css">
    <link rel="stylesheet" href="../static/dashboard.css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
  <header>
      <h3 id="home-nav">wavelength</h3>
      <img src="../static/icons/menu.png" alt="Navigation Bars">
  </header>
  <script>
      // This code assumes you've given your <header> an id of "clickableHeader"
      document.getElementById('home-nav').addEventListener('click', function() {
          window.location.href = '/';
      });
  </script>
    <!-- User's name -->
    <h1>{{ user_name }}</h1>
    
    <!-- Timeframe Buttons -->
    <div id="button-timeframe">
        <button id="oneMonthBtn" class="view-button" onclick="switchView('oneMonth')">1 Month</button>
        <button id="allTimeBtn" class="view-button" onclick="switchView('allTime')">All Time</button>
    </div>

    <!-- Line graph SVG -->
    <svg id="lineGraph"></svg>

    <!-- Top Genres and Artists using the variables from your server -->
    <div id="tops">
        <div>
            <h3 class="gradient-low">TOP GENRES</h3>
            <ol>
              {% for genre, count in genre_r.items() %}
                {% if loop.index <= 5 %}
                  <li>{{ genre }}</li>
                {% endif %}
              {% endfor %}
            </ol>
            
        </div>
        <div>
            <h3 class="gradient-low">TOP ARTISTS</h3>
            <ol>
              {% for artist in artists_r %}
                {% if loop.index <= 5 %}
                  <li>{{ artist }}</li>
                  {% endif %}
              {% endfor %}
            </ol>
        </div>
    </div>

    <!-- Spotify Stats -->
    <div id="spotify-stats">
        <h2 class="gradient-high">Spotify Stats</h2>
        <p> Median Popularity (popularity_r): {{ popularity_r }}</p>
        <p> Median Tempo (tempo_r): {{ tempo_r }}</p>
        <p> Median Loudness (loudness_r): {{ loudness_r }}</p>
        <p> Median Acousticness (acousticness_r): {{ acousticness_r }}</p>
        <p> Median Danceability (danceability_r): {{ danceability_r }}</p>
        <p> Median Valence (valence_r): {{ valence_r }}</p>
        <p> Median Energy (energy_r): {{ energy_r }}</p>
        <p> Median Speechiness (speechiness_r): {{ speechiness_r }}</p>
        <p> Variance (variance_r): {{ variance_r }}</p>
    </div>

    <!-- Code export section -->
    <div id="code">
        <h2 id="code-h2">MY CODE: <span class="highlight"><b>{{ user_code }}</b></span></h2>
        <button><img src="../static/icons/export.png" alt="export"></button>
    </div>

    <div id="spotify-logo"></div>

    <div id="view-more">
      <h2 class="gradient-high">Who's on your wavelength?</h2>
      <div id="img-holder"><img src="../static/icons/down.png" alt="Go down!"></div>

    </div>
    <script>
      var graphData = {{ graph_json|tojson|safe }};
      window.onload = function() {
          console.log(graphData);
          document.getElementById('oneMonthBtn').classList.add('active');
          // Optionally, you can also trigger the switch view to "oneMonth" automatically
          switchView('oneMonth');
          drawGraph(graphData, true);
      };
      
      function switchView(view) {
          // Remove 'active' class from both buttons
          document.getElementById('oneMonthBtn').classList.remove('active');
          document.getElementById('allTimeBtn').classList.remove('active');

          // Add 'active' class to the selected button
          if (view === 'oneMonth') {
              document.getElementById('oneMonthBtn').classList.add('active');
              drawGraph(graphData, true);
          } else {
              document.getElementById('allTimeBtn').classList.add('active');
              drawGraph(graphData, false);
          }
          }
      

      function drawGraph(graphData, truth) {
          if (truth) {
            medianValue = graphData.median_values_r;
          }
          else {
            medianValue = graphData.median_values_a;
          }
          const popularityR = medianValue["popularity"];
          console.log(popularityR)
          const tempoR = medianValue["tempo"];
          const loudnessR = medianValue["loudness"];
          const acousticnessR = medianValue["acousticness"];
          const danceabilityR = medianValue["danceability"]; /* These might not be aligned to the right items */
          const valenceR = medianValue["valence"];
          const energyR = medianValue["energy"];
          const speechinessR = medianValue["speechiness"];
          const varianceR = medianValue["variance"];
          const customTickNames = ["Tempo", "Loudness", "Acousticness", "Danceability", "Valence", "Energy", "Speechiness", "Popularity"];

          const svgElement = document.getElementById('lineGraph');
          const bbox = svgElement.getBoundingClientRect();
          const width = bbox.width-40;
          const height = bbox.height;
          const svg = d3.select(svgElement).attr("viewBox", `0 0 ${width} ${height}`).attr("preserveAspectRatio", "xMidYMid meet");

          // Clear any previous graph
          svg.selectAll("*").remove();

          const margin = {top: 10, right: 0, bottom: 10, left: 0},
              graphWidth = width - margin.left - margin.right,
              graphHeight = height - margin.top - margin.bottom;
          
          let g = svg.select("g");
            if (g.empty()) {
                g = svg.append("g").attr("transform", `translate(${margin.left},${margin.top})`);
            }
          
          const medianValuesArray = Object.values(medianValue).slice(0, 8);

          const data = medianValuesArray.map((value, index) => ({x: index, y: value}));
      
          // Scales
          const x = d3.scaleLinear().domain([0, 7]).range([0, graphWidth]);
          const y = d3.scaleLinear().domain([0, 100]).range([graphHeight,20]);

          svg.append("g")
            .attr("transform", `translate(0,${y(50)})`) // Keeps the axis in the middle
            .call(d3.axisBottom(x)
                .tickValues(data.map((d, i) => d.x)) // Set tick values based on data indices
                .tickFormat((d, i) => customTickNames[i]) // Use custom tick names
            )
            .selectAll("text")
            .attr("transform", "translate(12,0) rotate(45)")
            .style("text-anchor", "start")
            .style("font-family", "'Overpass Mono', monospace") // Set your desired font family
            .style("font-size", "14px");

          
          const defs = svg.append("defs");
          const gradient = defs.append("linearGradient")
              .attr("id", "area-gradient")
              .attr("gradientUnits", "userSpaceOnUse")
              .attr("x1", 0).attr("y1", y(0))
              .attr("x2", 0).attr("y2", y(100));
          gradient.append("stop").attr("offset", "20%").attr("stop-color", "rgba(255, 137, 52, .4)");
          gradient.append("stop").attr("offset", "100%").attr("stop-color", "#FF8934");
          
        
          // Add the y-axis
          const yAxis = d3.axisLeft(y)
                      .tickValues([0, 25, 50, 75, 100])
                      .tickFormat(d => d + "%")
                      .tickSize(0) // Remove the tick marks
                      .tickPadding(10); // Adjust space between ticks and labels if needed

          const yAxisGroup = svg.append("g").call(yAxis);

          // Apply styles to the y-axis for a dotted line
          yAxisGroup.selectAll("path")
                    .attr("stroke-dasharray", "15,10"); // Makes the y-axis line dotted

          // Apply custom font settings to all axis text (x and y)
          yAxisGroup.selectAll("text")
                    .style("font-family", "'Overpass Mono', monospace") // Set your desired font family
                    .style("font-size", "20px");
          // Line generator
          const line = d3.line()
              .x(d => x(d.x))
              .y(d => y(d.y))
              .curve(d3.curveBumpX);

          const area = d3.area()
              .x(d => x(d.x))
              .y0(y(55))
              .y1(d => y(d.y))
              .curve(d3.curveBumpX);

          // Update the area
          const areaPath = g.selectAll(".area-path").data([data]);
          areaPath.enter()
              .append("path")
              .attr("class", "area-path")
              .attr("fill", "url(#area-gradient)")
              .merge(areaPath)
              .transition()
              .duration(1000)
              .attr("d", area);

          // Update the line
          const linePath = g.selectAll(".line-path").data([data]);
          linePath.enter()
              .append("path")
              .attr("class", "line-path")
              .attr("fill", "none")
              .attr("stroke", "white")
              .attr("stroke-width", 2)
              .merge(linePath)
              .transition()
              .duration(1000)
              .attr("d", line);
          }

      drawGraph(graphData, true);

      window.addEventListener('resize', drawGraph(graphData, true));
</script>
</body>
</html>
